body {
  height: 100%;
  position: relative;
  font-family: "Barlow Semi Condensed", sans-serif;
}

header {
  background-color: rgb(133, 189, 133);
  height: 50px;
  display: flex;
  margin-bottom: 60px;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 30px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  margin: 0;
  justify-content: flex-end;
}

.nav-link a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.app-title {
  width: 30%;
}

.app-title a {
  font-family: "Lobster Two", cursive;
  font-size: 39px;
  margin: 0px 19px;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.currentUser {
  text-align: center;
  text-transform: uppercase;
}

/* ---------------CLEAR FIX ------------ */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* -----------------FOOTER ----------------- */

footer {
  background-color: rgb(133, 189, 133);
  height: 40px;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* -----------------LOGIN/SIGNUP FORMS -------------- */

.log-sign-form {
  width: 30%;
  display: block;
  text-align: center;
  margin: auto;
  border: 1px rgb(185, 184, 184) solid;
  border-radius: 5px;
  margin-bottom: 60px;
}

.log-sign-form a {
  text-decoration: none;
  color: rgb(133, 189, 133);
  display: block;
  text-align: center;
  margin-left: 135px;
  margin-bottom: 20px;
}

.log-sign-form input {
  width: 50%;
  padding: 5px 0;
  border-radius: 1px;
  margin-left: 10px;
}

.log-sign-form label {
  display: block;
  margin: 0px 0px 15px 0px;
  margin: 20px;
}

.log-sign-form form > button {
  text-align: center;
  margin-right: 18%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
}

.log-sign-form form > button:hover {
  background-color: rgb(133, 189, 133);
  color: white;
}

form {
  width: 70%;
  text-align: right;
  margin-left: 10px;
}

form > input {
  text-align: left;
}

.about {
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

/* --------------FUN FACTS ------------------ */

.funFact {
  display: -ms-flexbox;
  /* display: flex; */
  width: 50%;
  margin: 40px auto;
  -ms-flex-pack: center;
  /* justify-content: center; */
  font-size: 20px;
  /* border: solid 2px blue; */
  text-align: center;
}

li {
  list-style-type: none;
}

.funFact-button {
  color: rgb(133, 189, 133);
  height: 43px;
  width: 45px;
  margin: auto;
  font-size: 22px;
}

.funFact button:hover {
  border: 3px solid rgb(133, 189, 133);
}

/* -------------------SEARCH FORM -------------------- */
.input-search[type="text"] {
  width: 206px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.input-search[type="text"]:focus {
  width: 70%;
}

.search-form .form-search {
  width: 80%;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  height: 60px;
}

.search-form > .form-search input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 30%;
  background: #f1f1f1;
}

.search-form input:hover {
  border: 3px solid rgb(133, 189, 133);
}

.search-form button {
  background-color: rgb(133, 189, 133);
  width: 5%;
  padding: 9px;
  /* background: #2196F3; */
  color: white;
  font-size: 17px;
  border: 2px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-form button:hover {
  border: 3px solid rgb(133, 189, 133);
}
/* ----------------HOME PAGE BUTTONS ----------------- */

.row {
  display: table;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.row > a {
  box-sizing: border-box;
  display: table-cell;
  width: 25%;
  padding: 20px 40px;
  border-radius: 5px;
  height: 140px;
  font-size: 30px;
  margin-bottom: 60px;
  border: black 1px solid;
  text-decoration: none;
  color: white;
  font-weight: bold;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.row > a:hover {
  border: 3px solid rgb(133, 189, 133);
}

/* --------------CATEGORIES ------------------ */
.toutes-categories {
  background-image: url("./images/allcat.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
}
.metaux {
  background-image: url("./images/metal.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
}
.mobilier {
  background-image: url("./images/mobilier.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
}
.papiers-cartons {
  background-image: url("./images/papier.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
}
.plastiques {
  background-image: url("./images/jonathan-chng-1057613-unsplash.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
}
.textiles-et-cuir {
  background-image: url("./images/clothes.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
}
.verre {
  background-image: url("./images/verre.jpg");
  background-size: cover;
  /* opacity: 0.9; */
}
.bois {
  background-image: url("./images/bois.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.dechets-du-batiment {
  background-image: url("./images/bat.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.dechets-de-cuisine {
  background-image: url("./images/cuisine.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.dechets-dangereux {
  background-image: url("./images/toxic.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.dechets-electriques-et-electroniques {
  background-image: url("./images/elec.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.divers {
  background-image: url("./images/allcat.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.metaux {
  background-image: url("./images/metal.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.mobilier {
  background-image: url("./images/mobilier.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.papiers-cartons {
  background-image: url("./images/papier.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.plastiques {
  background-image: url("./images/jonathan-chng-1057613-unsplash.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.textiles-et-cuir {
  background-image: url("./images/clothes.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9 */
}
.verre {
  background-image: url("./images/verre.jpg");
  background-size: cover;
  /* opacity: 0.9 */
}

/* ----------------ONE CATEGORY LIST -------------- */
.popup {
  border: 2px green solid;
  position: absolute;
  /* margin-right: -10%; */
  margin-left: 50%;
}
.oneCategory-name {
  font-size: 40px;
}

.product-list {
  font-size: 20px;
  display: flex;
}

.popup-button {
  background: none;
  border: none;
  display: flex;
}
.popup_inner {
  border: 2px blue solid;
  background-color: grey;
  width: 450px;
}
.close-popup {
  margin: 0 40%;
}

.image-product {
  width: 90px;
  height: 90px;
}
/* ----------------ALL CATEGORIES -------------- */

.allCategories {
  list-style-type: none;
  padding: 0;
}

.allCategories a {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-size: 40px;
  border: 3px;
  box-shadow: 0 0 10px rgb(202, 196, 196);
  width: 26.5%;
  margin-bottom: 40px;
  margin-left: 5%;
  height: 150px;
  float: left;
  font-weight: bold;
  /* -webkit-text-stroke: 2px; */
  /* -webkit-text-stroke-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.allCategories li {
  text-align: center;
}

.allCategories li > a:hover {
  border: 2px solid rgb(133, 189, 133);
}

/* ------------------- SEARCH RESULT ---------------- */

.product-container {
  /* border: 2px solid blue; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px auto 10px;
  padding: 10px;
  width: 80%;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.product-image {
  width: 175px;
  margin-right: 5px;
}
.product-info {
  /* border: 2px solid green; */
  width: 750px;
  margin-left: 35px;
}
.product-title {
  margin: 0 auto;
}
