/*//////////////////////////////////////////////////////////////////
[ SEARCH RESULT ]*/
.product-container{
  border: 2px solid blue;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px auto 10px;
  padding: 10px;
  width: 80%;
  min-height: 300px;
  display: flex;
  align-items: center; 
}

.product-image{
  width: 175px;
  margin-right:5px;
}
.product-info{
  border: 2px solid green;
  width: 750px;
  margin-left: 35px;
}
.product-title{
  margin: 0 auto;
}
