/*//////////////////////////////////////////////////////////////////
[ SEARCH RESULT ]*/
.product-container{
  border: 2px solid blue;
  box-sizing: border-box;
	margin: 10px auto 10px;
	padding: 10px;
	width: 80%; min-height: 300px;
 
}
.product-image{
  float: left;
  /* margin-right: 40px; */
}
.product-info{
  border: 2px solid green;
}
