header {
  background-color: rgb(133, 189, 133);
  height: 50px;
  display: flex;
}

header a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

h1 {
  text-align: center;
}
